﻿@{
    ViewData["Title"] = "MotivationSentences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <style type="text/css">

    </style>
}

<h5>Burası MotivationSentences</h5>

@section scripts {
    <script type="text/javascript">

        $((_$) => {
        });

    </script>
    }