@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/htmls; charset=utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-9" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1254" />
    <meta http-equiv="content-type" content="text/html; charset=x-mac-turkish" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="TR" />
    <title>DemansApp</title>
    <link rel="shortcut icon" href="~/assets/images/demans_logo_sm.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <!-- jvectormap -->
    <link href="~/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <!-- App css -->

    <link href="~/plugins/datatables/datatable2/datatables-1.13.4/css/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/icons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/metisMenu.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/sweet-alert2/sweetalert2.min.css" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.datatables.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.datatables.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Select2/css/select2.css" />

    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />

    <style type="text/css">
        .button-style {
            background-color: #ED5E31 !important;
            border-color: #ED5E31 !important;
        }
    </style>

</head>
<body>
    <div class="container">
        <div class="row vh-100 d-flex justify-content-center">
            <div class="col-12 align-self-center">
                <div class="row">
                    <div class="col-lg-5 mx-auto">
                        <div class="card">
                            <div class="card-body p-0 auth-header-box">
                                <div class="text-center p-3">
                                    <a href="index.html" class="logo logo-admin">
                                        <img src="~/assets/images/demans_logo_sm.png" height="50" alt="logo" class="auth-logo">
                                    </a>
                                    <p class="text-muted  mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">DEMANSAPP</font></font></p>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <div class="tab-content">
                                    <div class="tab-pane p-3 active" id="LogIn_Tab" role="tabpanel">
                                        <form class="space-y-5" asp-action="Index" asp-controller="login" method="post" name="login_form" enctype="multipart/form-data">
                                            <div class="form-group mb-2">
                                                <label class="form-label" for="username"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kullanıcı adı</font></font></label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" name="username" id="username" placeholder="Kullanıcı Adı">
                                                </div>
                                            </div><!--end form-group-->

                                            <div class="form-group mb-2">
                                                <label class="form-label" for="userpassword"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Şifre</font></font></label>
                                                <div class="input-group">
                                                    <input type="password" class="form-control" name="password" id="userpassword" placeholder="Parola">
                                                </div>
                                            </div><!--end form-group-->

                                          

                                            <div class="form-group mb-0 row">
                                                <div class="col-12">
                                                    <button class="btn btn-primary w-100 waves-effect waves-light button-style" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Giriş yap</font></font><i class="fas fa-sign-in-alt ms-1"></i></button>
                                                </div><!--end col-->
                                            </div> <!--end form-group-->
                                        </form><!--end form-->


                                    </div>
                                </div>
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end col-->
        </div><!--end row-->
    </div>
</body>



<script type="text/javascript">
    // main section
    var message = @ViewBag.ErrorMessage;

    if ( message== 1) {
        //alert("1 numara alert!")
    }

    if (message == 2) {
        //alert("2 numara alert!")

    }

    
   
    

</script>
</html>