﻿@{
    ViewData["Title"] = "Locationınformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{

    <style type="text/css">
       .map{
           margin-top: 35px !important;
       }
    </style>
}

<div class="map" id="map" style="height:600px;"></div>

@section scripts {

    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=<788dcc52-1903-474c-96f8-82b437dcc613"></script>
    <script type="text/javascript">

        $((_$) => {
        });

        ymaps.ready(init);

        function init() {

            var myMap = new ymaps.Map("map", {
                center: [40.69976154407544, 29.888037639972598],
                zoom: 15
            }, {
                searchControlProvider: 'yandex#search'
            })

            $.post('@Url.Action("ShiftMap","LocationInformation")', (d, s) => {
                for (var i = 0; i < d.data.length; i++) {
                    var Lat = d.data[i].Lat;
                    var Lng = d.data[i].Lng;
                    var User = d.data[i].UserName + ' ' + d.data[i].Surname;

                    myGeoObject = new ymaps.GeoObject({
                        geometry: {
                            type: "Point",
                            coordinates: [ Lat, Lng ]
                        },
                        properties: {
                            iconContent:User
                        }
                    }, {
                        preset: 'islands#redStretchyIcon'
                    })
                    myMap.geoObjects
                        .add(myGeoObject);
                }
                

            })

        }

    </script>
    }